;
; AROS boot config file
; $Id$
;
; $VER: boot.config 41.1 (21.3.1997)
;
; Note: maximum length of lines is currently 100 characters (boot 41.6 and up).
;

; MODULE/K/A
; specify the name (incl. (relative) path) of a module to load
;
MODULE os/exec.strap
MODULE os/alert.hook
MODULE os/utility.library

; FUNCTION/N/K/A,MODULE/K,ON/S,OFF/S
; Specify which function to turn on.
; FUNCTION: offset of function
; MODULE:   full name of module (with path, as in the MODULE lines)
; ON/OFF:   turn function on or off (default is ON)
;
FUNCTION -72	os/exec.strap	ON	; InitCode
FUNCTION -84	os/exec.strap	ON	; MakeLibrary
FUNCTION -90	os/exec.strap	ON	; MakeFunctions
FUNCTION -96	os/exec.strap	ON	; FindResident
FUNCTION -102	os/exec.strap	ON	; InitResident
FUNCTION -120	os/exec.strap	ON	; Disable
FUNCTION -132	os/exec.strap	ON	; Forbid
FUNCTION -162	os/exec.strap	ON	; SetIntVector
FUNCTION -168	os/exec.strap	ON	; AddIntServer
FUNCTION -174	os/exec.strap	ON	; RemIntServer
FUNCTION -216	os/exec.strap	ON	; AvailMem
FUNCTION -222	os/exec.strap	ON	; AllocEntry
FUNCTION -228	os/exec.strap	ON	; FreeEntry
FUNCTION -234	os/exec.strap	ON	; Insert
FUNCTION -240	os/exec.strap	ON	; AddHead
FUNCTION -246	os/exec.strap	ON	; AddTail
FUNCTION -252	os/exec.strap	ON	; Remove
FUNCTION -258	os/exec.strap	ON	; RemHead
FUNCTION -264	os/exec.strap	ON	; RemTail
FUNCTION -276	os/exec.strap	ON	; FindName
FUNCTION -294	os/exec.strap	ON	; FindTask
FUNCTION -306	os/exec.strap	ON	; SetSignal
FUNCTION -330	os/exec.strap	ON	; AllocSignal
FUNCTION -336	os/exec.strap	ON	; FreeSignal
FUNCTION -354	os/exec.strap	ON	; AddPort
FUNCTION -360	os/exec.strap	ON	; RemPort
FUNCTION -366	os/exec.strap	ON	; PutMsg
FUNCTION -372	os/exec.strap	ON	; GetMsg
FUNCTION -378	os/exec.strap	ON	; ReplyMsg
FUNCTION -384	os/exec.strap	ON	; WaitPort
FUNCTION -390	os/exec.strap	ON	; FindPort
FUNCTION -396	os/exec.strap	ON	; AddLibrary
FUNCTION -402	os/exec.strap	ON	; RemLibrary
FUNCTION -408	os/exec.strap	ON	; OldOpenLibrary
FUNCTION -414	os/exec.strap	ON	; CloseLibrary
FUNCTION -420	os/exec.strap	OFF	; SetFunction (problems?)
FUNCTION -426	os/exec.strap	ON	; SumLibrary
FUNCTION -432	os/exec.strap	ON	; AddDevice
FUNCTION -438	os/exec.strap	ON	; RemDevice
FUNCTION -444	os/exec.strap	ON	; OpenDevice
FUNCTION -450	os/exec.strap	ON	; CloseDevice
FUNCTION -456	os/exec.strap	ON	; DoIO
FUNCTION -462	os/exec.strap	ON	; SendIO
FUNCTION -468	os/exec.strap	ON	; CheckIO
FUNCTION -474	os/exec.strap	ON	; WaitIO
FUNCTION -480	os/exec.strap	ON	; AbortIO
FUNCTION -486	os/exec.strap	ON	; AddResource
FUNCTION -492	os/exec.strap	ON	; RemResource
FUNCTION -498	os/exec.strap	ON	; OpenResource
FUNCTION -534	os/exec.strap	ON	; TypeOfMem
FUNCTION -552	os/exec.strap	OFF	; OpenLibrary (problems?)
FUNCTION -558	os/exec.strap	ON	; InitSemaphore
FUNCTION -594	os/exec.strap	ON	; FindSemaphore
FUNCTION -600	os/exec.strap	ON	; AddSemaphore
FUNCTION -606	os/exec.strap	ON	; RemSemaphore
FUNCTION -612	os/exec.strap	ON	; SumKickData
FUNCTION -618	os/exec.strap	ON	; AddMemList
FUNCTION -654	os/exec.strap	ON	; CreateIORequest
FUNCTION -660	os/exec.strap	ON	; DeleteIORequest
FUNCTION -666	os/exec.strap	ON	; CreateMsgPort
FUNCTION -672	os/exec.strap	ON	; DeleteMsgPort
FUNCTION -684	os/exec.strap	ON	; AllocVec
FUNCTION -690	os/exec.strap	ON	; FreeVec
FUNCTION -774	os/exec.strap	ON	; AddMemHandler
FUNCTION -780	os/exec.strap	ON	; RemMemHandler
FUNCTION -810	os/exec.strap	ON	; TaggedOpenLibrary

;
; END
;
