##begin clib
#ifndef INTUITION_CLASSES_H
#   include <intuition/classes.h>
#endif

#ifndef DataTypesBase
extern struct Library * DataTypesBase;
#endif

ULONG GetDTAttrs (Object * o, Tag tag1, ...);

##end clib
