##begin clib

#ifndef EXEC_TYPES_H
#   include <exec/types.h>
#endif

#ifndef UTILITY_TAGITEM_H
#   include <utility/tagitem.h>
#endif

#ifndef LIBRARIES_ASL_H
#   include <libraries/asl.h>
#endif

/* var-args versions of tagged calls */
APTR AllocAslRequestTags(ULONG reqType, Tag tag1, ...);
BOOL AslRequestTags(APTR requester, Tag tag1, ...);

##end clib

##begin proto
#ifndef AslBase
  extern struct Library *AslBase;
#endif

##end proto