[submodule "workbench/libs/muimaster/catalogs"]
	path = workbench/libs/muimaster/catalogs
	url = https://github.com/aros-translation-team/muimaster.library.git
[submodule "arch/all-pc/acpitool/catalogs"]
	path = arch/all-pc/acpitool/catalogs
	url = https://github.com/aros-translation-team/acpitool.git
[submodule "rom/dos/catalogs"]
	path = rom/dos/catalogs
	url = https://github.com/aros-translation-team/dos.library.git
[submodule "rom/filesys/SFS/SFSdefrag/Catalogs"]
	path = rom/filesys/SFS/SFSdefrag/Catalogs
	url = https://github.com/aros-translation-team/sfsdefrag.git
[submodule "rom/hidds/pci/pcitool/catalogs"]
	path = rom/hidds/pci/pcitool/catalogs
	url = https://github.com/aros-translation-team/pcitool.git
[submodule "rom/security/catalogs"]
	path = rom/security/catalogs
	url = https://github.com/aros-translation-team/security.library.git
[submodule "rom/usb/trident/catalogs"]
	path = rom/usb/trident/catalogs
	url = https://github.com/aros-translation-team/trident.git
[submodule "workbench/c/LoadResource/catalogs"]
	path = workbench/c/LoadResource/catalogs
	url = https://github.com/aros-translation-team/loadresource.git
[submodule "workbench/c/R/catalogs"]
	path = workbench/c/R/catalogs
	url = https://github.com/aros-translation-team/r.git
[submodule "workbench/classes/zune/aboutwindow/catalogs"]
	path = workbench/classes/zune/aboutwindow/catalogs
	url = https://github.com/aros-translation-team/aboutwindow.git
[submodule "workbench/classes/zune/prefswindow/catalogs"]
	path = workbench/classes/zune/prefswindow/catalogs
	url = https://github.com/aros-translation-team/prefswindow.git
[submodule "workbench/classes/zune/systemprefswindow/catalogs"]
	path = workbench/classes/zune/systemprefswindow/catalogs
	url = https://github.com/aros-translation-team/systemprefswindow.git
[submodule "workbench/devs/diskimage/device/catalogs"]
	path = workbench/devs/diskimage/device/catalogs
	url = https://github.com/aros-translation-team/diskimage.device.git
[submodule "workbench/devs/diskimage/zune_gui/catalogs"]
	path = workbench/devs/diskimage/zune_gui/catalogs
	url = https://github.com/aros-translation-team/diskimage-zune.git
[submodule "workbench/libs/asl/catalogs"]
	path = workbench/libs/asl/catalogs
	url = https://github.com/aros-translation-team/asl.library.git
[submodule "workbench/libs/identify/catalogs"]
	path = workbench/libs/identify/catalogs
	url = https://github.com/aros-translation-team/identify.library.git
[submodule "workbench/libs/identify/tools/catalogs"]
	path = workbench/libs/identify/tools/catalogs
	url = https://github.com/aros-translation-team/identify.git
[submodule "workbench/libs/reqtools/catalogs"]
	path = workbench/libs/reqtools/catalogs
	url = https://github.com/aros-translation-team/reqtools.library.git
[submodule "workbench/devs/AHI/AHI/translations"]
	path = workbench/devs/AHI/AHI/translations
	url = https://github.com/aros-translation-team/ahi-prefs.git
[submodule "workbench/devs/AHI/Device/translations"]
	path = workbench/devs/AHI/Device/translations
	url = https://github.com/aros-translation-team/ahi.device.git
[submodule "workbench/utilities/MultiView/catalogs"]
	path = workbench/utilities/MultiView/catalogs
	url = https://github.com/aros-translation-team/multiview.git
[submodule "workbench/utilities/More/catalogs"]
	path = workbench/utilities/More/catalogs
	url = https://github.com/aros-translation-team/more.git
[submodule "workbench/utilities/Installer/catalogs"]
	path = workbench/utilities/Installer/catalogs
	url = https://github.com/aros-translation-team/installer.git
[submodule "workbench/utilities/Clock/catalogs"]
	path = workbench/utilities/Clock/catalogs
	url = https://github.com/aros-translation-team/clock.git
[submodule "workbench/system/Wanderer/Catalogs"]
	path = workbench/system/Wanderer/Catalogs
	url = https://github.com/aros-translation-team/wanderer.git
[submodule "workbench/tools/SysExplorer/catalogs"]
	path = workbench/tools/SysExplorer/catalogs
	url = https://github.com/aros-translation-team/sysexplorer.git
[submodule "workbench/system/AboutAROS/catalogs"]
	path = workbench/system/AboutAROS/catalogs
	url = https://github.com/aros-translation-team/aboutaros.git
