[submodule "workbench/libs/muimaster/catalogs"]
	path = workbench/libs/muimaster/catalogs
	url = https://github.com/aros-translation-team/muimaster.library.git
[submodule "arch/all-pc/acpitool/catalogs"]
	path = arch/all-pc/acpitool/catalogs
	url = https://github.com/aros-translation-team/acpitool.git
[submodule "rom/dos/catalogs"]
	path = rom/dos/catalogs
	url = https://github.com/aros-translation-team/dos.library.git
