[submodule "workbench/libs/muimaster/catalogs"]
	path = workbench/libs/muimaster/catalogs
	url = https://github.com/aros-translation-team/muimaster.library.git
[submodule "arch/all-pc/acpitool/catalogs"]
	path = arch/all-pc/acpitool/catalogs
	url = https://github.com/aros-translation-team/acpitool.git
[submodule "rom/dos/catalogs"]
	path = rom/dos/catalogs
	url = https://github.com/aros-translation-team/dos.library.git
[submodule "rom/filesys/SFS/SFSdefrag/Catalogs"]
	path = rom/filesys/SFS/SFSdefrag/Catalogs
	url = https://github.com/aros-translation-team/sfsdefrag.git
[submodule "rom/hidds/pci/pcitool/catalogs"]
	path = rom/hidds/pci/pcitool/catalogs
	url = https://github.com/aros-translation-team/pcitool.git
