[AROS]
top /home/digulla/AROS
defaultmakefilename makefile
defaulttarget AROS
genmakefilescript gawk -f $(TOP)/scripts/genmf.gawk --assign "TOP=$(TOP)"
genmakefiledeps $(TOP)/scripts/genmf.gawk
globalvarfile $(TOP)/config/host.cfg

ignoredir CVS
ignoredir bin
#add compiler/include/makefile
#add makefile

