#
# serial device name and unit number.
#

DEVICE usbmodem.device
UNIT 3

USERNAME dummy
PASSWORD dummy

#
# Dial-Up command examples.
#
#send atz     : send at-command "atz".
#
#wait ok 10   :wait response "ok" 10 seconds (default time is 5)
#
#delay 1     :1 sec. delay (default time is 5)
#
#
  
#
#  This script works on my phone/provider. there's no guarantee it will work on yours... 
#  Make sure that you replace "internet.provider" with the name of your own provider.
# 
#

SEND ATZ
WAIT OK

SEND AT+CGDCONT=1,"IP","internet.provider"
WAIT OK 

SEND   ATDT*99***1#  
WAIT CONNECT 7


