#
# Sample GRUB configuration file
#

# Boot automatically after 30 secs.
set timeout=30

# By default, boot the first entry.
set default=0

# Fallback to the second entry.
set fallback=1

# For booting GNU/Hurd
menuentry "GNU (aka GNU/Hurd)" {
	set root=(hd0,1)
	multiboot /boot/gnumach.gz root=device:hd0s1
	module /hurd/ext2fs.static --readonly \
			--multiboot-command-line='${kernel-command-line}' \
			--host-priv-port='${host-port}' \
			--device-master-port='${device-port}' \
			--exec-server-task='${exec-task}' -T typed '${root}' \
			'$(task-create)' '$(task-resume)'
	module /lib/ld.so.1 /hurd/exec '$(exec-task=task-create)'
}

# For booting GNU/Linux
menuentry "GNU/Linux" {
	set root=(hd0,1)
	linux /vmlinuz root=/dev/sda1
	initrd /initrd.img
}

# For booting FreeBSD
menuentry "FreeBSD (or GNU/kFreeBSD), direct boot" {
	set root=(hd0,1,a)
	freebsd /boot/kernel/kernel
	freebsd_loadenv /boot/device.hints
	freebsd_module /boot/splash.bmp type=splash_image_data
	set FreeBSD.vfs.root.mountfrom=ufs:ad0s1a
}
menuentry "FreeBSD (or GNU/kFreeBSD), via /boot/loader" {
	set root=(hd0,1,a)
	freebsd /boot/loader
}

# For booting NetBSD
menuentry "NetBSD" {
	set root=(hd0,1,a)
	netbsd /netbsd
}

# For booting OpenBSD
menuentry "OpenBSD" {
	set root=(hd0,1,a)
	openbsd /bsd
}

# For booting Microsoft Windows
menuentry "Microsoft Windows" {
	set root=(hd0,1)
	chainloader +1
}

# Change the colors.
menuentry "Change the colors" {
	set menu_color_normal=light-green/brown
	set menu_color_highlight=red/blue
}
