##begin clib

#ifndef INTUITION_CLASSUSR_H
#   include <intuition/classusr.h>
#endif

#ifndef UTILITIY_TAGITEM_H
#   include <utility/tagitem.h>
#endif

#ifndef MUIMasterBase
extern struct Library *MUIMasterBase;
#endif

/* By default, disable the variadic stuff for zune, since it's not 
   very backward compatible */
#ifndef MUIMASTER_YES_INLINE_STDARG
#undef  MUIMASTER_NO_INLINE_STDARG
#define MUIMASTER_NO_INLINE_STDARG
#endif

/* Prototypes for stubs in mui.lib */

APTR 	MUI_AllocAslRequestTags(unsigned long reqType, Tag tag1, ...) __stackparm;
BOOL 	MUI_AslRequestTags(APTR requester, Tag tag1, ...) __stackparm;
Object *MUI_MakeObject(LONG type, ...);
Object *MUI_NewObject(char *classname, Tag tag1, ...) __stackparm;
LONG    MUI_Request(APTR app, APTR win, LONG flags, char *title, char *gadgets, 
char *format, APTR param1, ...) __stackparm;

##end clib
