##begin proto
#define CGFXNAME  "cybergraphics.library"

##end proto
##begin clib

#ifndef UTILITY_TAGITEM_H
#include <utility/tagitem.h>
#endif /* UTILITY_TAGITEM_H */

#ifndef CyberGfxBase
extern struct Library * CyberGfxBase;
#endif

APTR LockBitMapTags(APTR, Tag tag1, ...);
void UnLockBitMapTags(APTR, Tag tag1, ...);
ULONG BestCModeIDTags(Tag tag1, ...);
##end clib

