#include <windows.h>

// DLL version information.
VS_VERSION_INFO    VERSIONINFO
FILEVERSION        1,0,0,0
PRODUCTVERSION     1,0,0,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS        VS_FF_DEBUG | VS_FF_PRERELEASE
#else
  FILEFLAGS        0
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_DLL
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904b0"
    BEGIN
      VALUE "CompanyName", "The AROS Dev Team"
      VALUE "FileDescription", "MS Windows GDI host-call wrappers and support functions for AROS hosted."
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "WinGDI"
      VALUE "LegalCopyright", "©2022 The AROS Dev Team"
      VALUE "OriginalFilename", "wingdi.dll"
      VALUE "ProductName", "WinGDI"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200
  END
END
