##begin defines
#ifndef DOS_DOS_H
#   include <dos/dos.h>
#endif
##end defines

##begin clib
#ifndef DOS_DOS_H
#   include <dos/dos.h>
#endif
#ifndef  DOS_DOSEXTENS_H
#   include <dos/dosextens.h>
#endif
#ifndef  DOS_RECORD_H
#   include <dos/record.h>
#endif
#ifndef  DOS_RDARGS_H
#   include <dos/rdargs.h>
#endif
#ifndef  DOS_DOSASL_H
#   include <dos/dosasl.h>
#endif
#ifndef  DOS_VAR_H
#   include <dos/var.h>
#endif
#ifndef  DOS_NOTIFY_H
#   include <dos/notify.h>
#endif
#ifndef  DOS_DATETIME_H
#   include <dos/datetime.h>
#endif
#ifndef  DOS_DOSTAGS_H
#   include <dos/dostags.h>
#endif
#ifndef  DOS_EXALL_H
#    include <dos/exall.h>
#endif

#ifndef DOSBase
    extern struct DosLibrary *DOSBase;
#endif

#define AllocDosObjectTagList AllocDosObject
#define CreateNewProcTagList CreateNewProc
#define NewLoadSegTagList NewLoadSeg
#define System SystemTagList

/* Prototypes for stubs in amiga.lib */
APTR AllocDosObjectTags (ULONG type, Tag tag1, ...);
struct Process * CreateNewProcTags (Tag tag1, ...);
BPTR NewLoadSegTags (STRPTR file, Tag tag1, ...);
LONG SystemTags (STRPTR command, Tag tag1, ...);

LONG FWritef (BPTR fh, STRPTR format, ...);
LONG FPrintf (BPTR fh, STRPTR format, ...);
LONG Printf (STRPTR format, ...);

##end clib
##begin proto
#ifndef DOSBase
extern struct DosLibrary *DOSBase;
#endif
##end proto
