#   Copyright (C) 2026, The AROS Development Team. All rights reserved.
#
#   Desc: genmf macros for building imported source trees that use the
#         GNU autotools (configure) build system. Incorporated into the
#         build via %include from make.tmpl.

#------------------------------------------------------------------------------
# Build an imported source tree which uses the configure script from the
# autoconf package.  This rule will try to "integrate" the produced files as
# much as possible in the AROS build, for example by putting libraries in the
# standard library directory, includes in the standard include directory, and
# so on. You can however override this behaviour.
#
# As a special "bonus" for you, the PROGDIR environment variable is defined to
# be %(bindir) (or its deduced value) when running "make install", and
# "PROGDIR:" when running "make" alone; you can use this feature to pass the
# configure script some more parameters whose value depends upon the PROGDIR
# env var, so that the program gets all its stuff installed in the proper place
# when building it, but when running it from inside AROS it can also find that
# stuff by simply opening PROGDIR:, which it will do automatically if it uses
# the configuration parameters set when running ./configure
#
# *NOTICE*: DO NOT put a trailing '/' (slash) after $PROGDIR, as the variable
# already contains either a '/' (slash) or a ':' (colon), thus simply attach it
# to the name which has to follow it.
#
# Arguments:
#
#     - mmake           = the meta make target.
#     - package         = name of the package to be built.
#     - srcdir          = the location of the unpacked source code. Defaults
#                         to $(SRCDIR)/$(CURDIR).
#     - prefix          = the target directory. Must be an absolute path of the
#                         host system. Defaults to $(AROS_CONTRIB).
#     - aros_prefix     = set a path which is valid within the AROS filesystem.
#                         Defaults to the value of the prefix option.
#     - extraoptions    = additional options for the configure script.
#     - usecppflags      = enable the use of cpp flags. some external configure
#                         scripts will not set their own cppflags if it is already
#                         set, so this allows them to be disabled (unless you can provide
#                         all the options they would need)
#     - extracppflags      = additional preprocessor flags.
#     - usecflags      = .
#     - extracflags     = additional flags to use with the C compiler.
#     - usecxxflags      = .
#     - extracxxflags   = additional flags to use with the C++ compiler.
#     - nix_dir_layout  = if yes the binary will be stored in a bin subdirectory.
#                         Defaults to the value of the nix argument.
#     - nix             = enable u*nix path handling, i.e. a path like
#                         /progdir//./file will be translated to
#                         progdir:file during run-time. Defaults to no.
#     - compiler        = target, host or kernel. Defaults to target.
#     - install_target  = the command used for installing. Defaults to install. Leave
#                         it empty if you want to suppress installing.
#     - preconfigure    = a metatarget which is executed before configure is called.
#     - postconfigure   = a metatarget which is executed after configure is called.
#     - postinstall     = a metatarget which is executed after installing.
#     - install_env     = set additional options for installing.
#     - use_build_env   = if yes the configuration environment is used for
#                         installing, too. Defaults to no.
#
# The arguments aros_prefix, nix and nix_dir_layout are related. The logic is
# like this:
#
# if nix_dir_layout
#    --prefix = $(aros_prefix)
#    progdir = $(aros_prefix)/bin
# else
#    if nix
#        --prefix = /PROGDIR
#        --bindir = /PROGDIR
#        --sbindir = /PROGDIR
#        --libdir = /LIB
#        --includedir = /INCLUDE
#        --oldincludedir = /INCLUDE   
#    else
#        --prefix = $(aros_prefix)
#    endif
#
#    progdir = $(aros_prefix)
#
#    # Install options
#    bindir = $(prefix)
#    sbindir = $(prefix)
#    libdir = $(AROS_LIB)
#    includedir = $(AROS_INCLUDES)
#    oldincludedir = $(AROS_INCLUDES)
# endif
#

%define build_with_configure mmake=/A package= srcdir="$(SRCDIR)/$(CURDIR)" \
    prefix= gendir= basedir="$(CURDIR)" extraoptions= \
    usecppflags=yes extracppflags= touch=yes \
    usecflags=yes extracflags="$(OPTIMIZATION_CFLAGS)" \
    usecxxflags=yes extracxxflags="$(OPTIMIZATION_CFLAGS)" \
    hostisaflags="$(HOST_ISA_CFLAGS)" \
    kernelisaflags="$(KERNEL_ISA_CFLAGS)" \
    targetisaflags="$(TARGET_ISA_CFLAGS)" \
    aros_prefix= nix_dir_layout= nix=no compiler=target crossbuild=no \
    install_target=install preconfigure= postconfigure= postinstall= \
    config_env_extra= install_env= use_build_env=no buildflags=yes gnuflags=yes nlsflag=yes xflag=yes

ifneq (%(prefix),)
    %(mmake)-prefix := %(prefix)
else
    %(mmake)-prefix := $(AROS_CONTRIB)
endif

ifneq (%(aros_prefix),)
    %(mmake)-aros_prefix := %(aros_prefix)
else
    %(mmake)-aros_prefix := $(%(mmake)-prefix)
endif

BD_NIXFLAG ?= -nix

ifeq (%(nix),yes)
    %(mmake)-nix    := $(BD_NIXFLAG)
    %(mmake)-volpfx := /
    %(mmake)-volsfx := /
    
    ifeq (%(nix_dir_layout),)
        %(mmake)-nix_dir_layout := yes
    endif
else
    %(mmake)-volsfx := :
    
    ifeq (%(nix_dir_layout),)
        %(mmake)-nix_dir_layout := no
    endif
endif

%(mmake)-volfunc = $(%(mmake)-volpfx)$(notdir $1)$(%(mmake)-volsfx)

%(mmake)-install_opts += prefix=$(%(mmake)-prefix) \
        exec_prefix=$(%(mmake)-prefix) %(install_env)

# Check if chosen compiler is valid
ifeq ($(findstring %(compiler),host target kernel),)
  $(error unknown compiler %(compiler))
endif

# Set legacy 'host' variable based on chosen compiler
ifeq (%(compiler),host)
    host := yes
    ifeq (%(basedir),)
        %(mmake)-pkgbasedir := $(HOSTGENDIR)
    else
        %(mmake)-pkgbasedir := $(HOSTGENDIR)/%(basedir)
    endif
else
    host := no
    ifeq (%(basedir),)
        %(mmake)-pkgbasedir := $(GENDIR)
    else
        %(mmake)-pkgbasedir := $(GENDIR)/%(basedir)
    endif
endif
ifneq (%(gendir),)
    ifeq (%(basedir),)
        %(mmake)-pkgbasedir := %(gendir)
    else
        %(mmake)-pkgbasedir := %(gendir)/%(basedir)
    endif
endif

ifeq (%(package),)
    %(mmake)-pkgdir := $(%(mmake)-pkgbasedir)
else
    %(mmake)-pkgdir := $(%(mmake)-pkgbasedir)/%(package)
endif

%(mmake)-configflag ?= $(%(mmake)-pkgdir)/.configured
%(mmake)-installflag ?= $(%(mmake)-pkgdir)/.installed

ifeq ($(filter yes, $(%(mmake)-nix_dir_layout) $(host)),yes)
    %(mmake)-PROGDIR      := $(%(mmake)-aros_prefix)/bin
    %(mmake)-config_opts  := --prefix=$(%(mmake)-aros_prefix)
else
    ifeq (%(nix),yes)
        %(mmake)-config_opts := --prefix=/PROGDIR  --bindir=/PROGDIR --sbindir=/PROGDIR \
        --libdir=/LIB --includedir=/INCLUDE --oldincludedir=/INCLUDE   
    else
        %(mmake)-config_opts  := --prefix=$(%(mmake)-aros_prefix)
    endif

    %(mmake)-PROGDIR := $(%(mmake)-aros_prefix)
    
    %(mmake)-install_opts := bindir=$(%(mmake)-prefix) \
        sbindir=$(%(mmake)-prefix) \
        libdir=$(AROS_LIB) includedir=$(AROS_INCLUDES) \
        oldincludedir=$(AROS_INCLUDES) %(install_env)
endif

ifneq ($(DEBUG),yes)
    %(mmake)-s_flag = -s
endif

ifeq (%(targetisaflags),)
%(mmake)-TARGET_LDFLAGS :=
else
%(mmake)-TARGET_LDFLAGS := $(TARGET_ISA_LDFLAGS) $(TARGET_LDFLAGS)
endif

ifeq (%(usecflags),yes)
    %(mmake)-HOST_CFLAGS=%(hostisaflags) $(HOST_CFLAGS)
    %(mmake)-KERNEL_CFLAGS=%(kernelisaflags) $(KERNEL_CFLAGS)
ifeq (%(crossbuild),yes)
    %(mmake)-TARGET_CFLAGS=%(targetisaflags) $(USER_INCLUDES) $(BASE_CFLAGS) $(USER_CFLAGS)
else
    %(mmake)-TARGET_CFLAGS=%(targetisaflags) $(USER_INCLUDES) $(BASE_CFLAGS) $(USER_CFLAGS) $(%(mmake)-nix)
endif
endif
%(mmake)-TARGET_CC?=$(TARGET_CC)
%(mmake)-KERNEL_CC?=$(KERNEL_CC)
%(mmake)-HOST_CC?=$(HOST_DEF_CC)
ifeq (%(usecxxflags),yes)
    %(mmake)-HOST_CXXFLAGS=%(hostisaflags) $(HOST_CXXFLAGS)
    %(mmake)-KERNEL_CXXFLAGS=%(kernelisaflags) $(KERNEL_CXXFLAGS)
ifeq (%(crossbuild),yes)
    %(mmake)-TARGET_CXXFLAGS=%(targetisaflags) $(USER_INCLUDES) $(BASE_CXXFLAGS) $(USER_CXXFLAGS)
else
    %(mmake)-TARGET_CXXFLAGS=%(targetisaflags) $(USER_INCLUDES) $(BASE_CXXFLAGS) $(USER_CXXFLAGS) $(%(mmake)-nix)
endif
endif
%(mmake)-TARGET_CXX?=$(TARGET_CXX)
%(mmake)-KERNEL_CXX?=$(KERNEL_CXX)
%(mmake)-HOST_CXX?=$(HOST_CXX)

# Set up build environment, and options for configure script
ifeq (%(compiler),host)
    # NB: We need to pass in our crosstoolsdir, but cannot set CFLAGS since it
    # confused configure scripts. We also cannot pass it via _FOR_BUILD
    # since that won't get picked up during configure.
    # We also cannot pass in the compiler including std flags so we need to use
    # the "plain" host compiler.
    %(mmake)-cfg-env := %(config_env_extra) \
        CPP="$(HOST_CPP)" \
        CXXCPP="$(HOST_CPP)" \
        CC="$(strip $(%(mmake)-HOST_CC) $(%(mmake)-HOST_CFLAGS) -I$(CROSSTOOLSDIR)/include)" \
        CXX="$(strip $(%(mmake)-HOST_CXX) $(%(mmake)-HOST_CXXFLAGS) -I$(CROSSTOOLSDIR)/include)" \
        LDFLAGS="-L$(CROSSTOOLSDIR)/lib $(USER_LDFLAGS)"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += TARGET_CPPFLAGS="$(KERNEL_CPPFLAGS)"
endif
    %(mmake)-cfg-env += TARGET_CC="$(strip $(%(mmake)-KERNEL_CC) $(KERNEL_SYSROOT))" \
        TARGET_CFLAGS="$(strip $(%(mmake)-KERNEL_CFLAGS))" \
        TARGET_CXX="$(strip $(%(mmake)-KERNEL_CXX) $(KERNEL_SYSROOT))" \
        TARGET_CXXFLAGS="$(strip $(%(mmake)-KERNEL_CXXFLAGS))" \
        TARGET_AS="$(TARGET_AS)" \
        OBJCOPY="$(OBJCOPY)" \
        TARGET_RANLIB="$(RANLIB)" \
        TARGET_STRIP="$(STRIP_PLAIN)" \
        TARGET_NM="$(NM_PLAIN)" \
        TARGET_OBJCOPY="$(TARGET_OBJCOPY)"
endif

ifeq (%(compiler),target)
    %(mmake)-cfg-env := %(config_env_extra) \
        PKG_CONFIG_LIBDIR="$(AROS_DEVELOPER)/lib/pkgconfig" \
        PKG_CONFIG_SYSROOT_DIR="$(AROSDIR)"
ifeq (%(crossbuild),yes)
    %(mmake)-cfg-env += \
        CPP="$(strip $(%(mmake)-CROSS_CPP) $(%(mmake)-CROSS_SYSROOT))" \
        CXXCPP="$(strip $(%(mmake)-CROSS_CPP) $(%(mmake)-CROSS_SYSROOT))" \
        CC="$(strip $(%(mmake)-CROSS_CC) $(%(mmake)-CROSS_SYSROOT))" \
        CXX="$(strip $(%(mmake)-CROSS_CXX) $(%(mmake)-CROSS_SYSROOT))" \
        LD="$(strip $(%(mmake)-CROSS_LD))" \
        AS="$(strip $(%(mmake)-CROSS_AS))" \
        AFLAGS="$(strip $(%(mmake)-CROSS_AFLAGS))" \
        OBJCOPY="$(strip $(%(mmake)-CROSS_OBJCOPY))" \
        RANLIB="$(strip $(%(mmake)-CROSS_RANLIB))" \
        STRIP="$(strip $(%(mmake)-CROSS_STRIP))" \
        CFLAGS="$(strip $(%(mmake)-CROSS_CFLAGS))" \
        CXXFLAGS="$(strip $(%(mmake)-CROSS_CXXFLAGS))" \
        LDFLAGS="$(strip $(%(mmake)-CROSS_LDFLAGS))" \
        LT_LDFLAGS="$(strip $(%(mmake)-CROSS_LDFLAGS))"
    %(mmake)-cfg-env += CC_FOR_HOST="$(strip $(%(mmake)-CROSS_CC) $(%(mmake)-CROSS_SYSROOT))" \
        CFLAGS_FOR_HOST="$(strip $(%(mmake)-CROSS_CFLAGS))" \
        CXX_FOR_HOST="$(strip $(%(mmake)-CROSS_CXX) $(%(mmake)-CROSS_SYSROOT))" \
        CXXFLAGS_FOR_HOST="$(strip $(%(mmake)-CROSS_CXXFLAGS))" \
        LD_FOR_HOST="$(strip $(%(mmake)-CROSS_LD))" \
        LDFLAGS_FOR_HOST="$(strip $(%(mmake)-CROSS_LDFLAGS))"
else
    %(mmake)-cfg-env += CPP="$(strip $(TARGET_CPP) $(TARGET_SYSROOT))" \
        CXXCPP="$(strip $(TARGET_CPP) $(TARGET_SYSROOT))" \
        CC="$(strip $(%(mmake)-TARGET_CC) $(TARGET_SYSROOT))" \
        CXX="$(strip $(%(mmake)-TARGET_CXX) $(TARGET_SYSROOT))" \
        LD="$(strip $(TARGET_LD))"
    %(mmake)-cfg-env += CFLAGS="$(strip $(%(mmake)-TARGET_CFLAGS) $(%(mmake)-AC_CFLAGS) %(extracflags))" \
        CXXFLAGS="$(strip $(%(mmake)-TARGET_CXXFLAGS) $(%(mmake)-AC_CXXFLAGS) %(extracxxflags))"
    %(mmake)-cfg-env += LDFLAGS="$(strip $(%(mmake)-TARGET_LDFLAGS)) -L$(AROS_DEVELOPER)/lib $(strip $(USER_LDFLAGS) $(TARGET_LDFLAGS) $(TARGET_C_LIBS) $(%(mmake)-nix) $(%(mmake)-s_flag))"
    %(mmake)-cfg-env += LT_LDFLAGS="$(strip $(%(mmake)-TARGET_LDFLAGS))"
    %(mmake)-cfg-env += AR="$(strip $(AR_PLAIN))" \
        AS="$(strip $(TARGET_AS))" \
        AFLAGS="$(strip $(AFLAGS))" \
        OBJCOPY="$(strip $(OBJCOPY))" \
        RANLIB="$(strip $(RANLIB))" \
        STRIP="$(strip $(STRIP_PLAIN))"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += CPPFLAGS="$(strip $(BASE_CPPFLAGS) $(USER_CPPFLAGS) %(extracppflags))"
    %(mmake)-cfg-env += CPPFLAGS_FOR_BUILD="$(strip $(HOST_CPPFLAGS) $(%(mmake)-ACBUILD_CPPFLAGS))"
endif
    %(mmake)-cfg-env += CC_FOR_BUILD="$(strip $(%(mmake)-HOST_CC))" \
        CFLAGS_FOR_BUILD="$(strip $(%(mmake)-HOST_CFLAGS) $(%(mmake)-ACBUILD_CFLAGS))" \
        CXX_FOR_BUILD="$(strip $(%(mmake)-HOST_CXX))" \
        CXXFLAGS_FOR_BUILD="$(strip $(%(mmake)-HOST_CXXFLAGS) $(%(mmake)-ACBUILD_CXXFLAGS))" \
        LD_FOR_BUILD="$(strip $(HOST_LD))" \
        LDFLAGS_FOR_BUILD="$(strip $(HOST_LDFLAGS) $(%(mmake)-ACBUILD_LDFLAGS) $(%(mmake)-s_flag))"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += CPPFLAGS_FOR_HOST="$(strip $(BASE_CPPFLAGS)  $(%(mmake)-ACHOST_CPPFLAGS) $(USER_CPPFLAGS) %(extracppflags))"
endif
    %(mmake)-cfg-env += CC_FOR_HOST="$(strip $(%(mmake)-TARGET_CC) $(TARGET_SYSROOT))" \
        CFLAGS_FOR_HOST="$(strip %(kernelisaflags) $(USER_INCLUDES) $(BASE_CFLAGS) $(%(mmake)-ACHOST_CFLAGS) $(USER_CFLAGS) -L$(AROS_DEVELOPER)/lib %(extracflags) $(%(mmake)-nix))" \
        CXX_FOR_HOST="$(strip $(%(mmake)-TARGET_CXX) $(TARGET_SYSROOT))" \
        CXXFLAGS_FOR_HOST="$(strip %(kernelisaflags) $(USER_INCLUDES) $(BASE_CXXFLAGS) $(%(mmake)-ACHOST_CXXFLAGS)  $(USER_CXXFLAGS) -L$(AROS_DEVELOPER)/lib %(extracxxflags) $(%(mmake)-nix))" \
        LD_FOR_HOST="$(strip $(TARGET_LD))" \
        LDFLAGS_FOR_HOST="$(strip $(TARGET_ISA_LDFLAGS) -L$(AROS_DEVELOPER)/lib  $(%(mmake)-ACHOST_LDFLAGS) $(USER_LDFLAGS) $(%(mmake)-nix) $(%(mmake)-s_flag))"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += CPPFLAGS_FOR_TARGET="$(strip $(BASE_CPPFLAGS) $(%(mmake)-ACTARGET_CPPFLAGS) $(USER_CPPFLAGS) %(extracppflags))"
endif
    %(mmake)-cfg-env += CC_FOR_TARGET="$(strip $(%(mmake)-TARGET_CC) $(TARGET_SYSROOT))" \
        CFLAGS_FOR_TARGET="$(strip $(%(mmake)-TARGET_CFLAGS) $(%(mmake)-ACTARGET_CFLAGS) -L$(AROS_DEVELOPER)/lib %(extracflags))" \
        CXX_FOR_TARGET="$(strip $(%(mmake)-TARGET_CXX) $(TARGET_SYSROOT))" \
        CXXFLAGS_FOR_TARGET="$(strip $(%(mmake)-TARGET_CXXFLAGS) $(%(mmake)-ACTARGET_CXXFLAGS) -L$(AROS_DEVELOPER)/lib %(extracxxflags))" \
        LD_FOR_TARGET="$(strip $(TARGET_LD))" \
        LDFLAGS_FOR_TARGET="$(strip $(%(mmake)-TARGET_LDFLAGS) -L$(AROS_DEVELOPER)/lib $(%(mmake)-ACTARGET_LDFLAGS) $(USER_LDFLAGS) $(TARGET_C_LIBS) $(%(mmake)-nix) $(%(mmake)-s_flag))" \
        AS_FOR_TARGET="$(strip $(TARGET_AS))" \
        OBJCOPY_FOR_TARGET="$(strip $(TARGET_OBJCOPY))" \
        RANLIB_FOR_TARGET="$(strip $(TARGET_RANLIB))" \
        STRIP_FOR_TARGET="$(strip $(TARGET_STRIP))" \
        NM_FOR_TARGET="$(strip $(TARGET_NM))"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += TARGET_CPPFLAGS="$(KERNEL_CPPFLAGS)"
endif
    %(mmake)-cfg-env += TARGET_CC="$(strip $(%(mmake)-KERNEL_CC) $(KERNEL_SYSROOT))" \
        TARGET_CFLAGS="$(strip $(%(mmake)-KERNEL_CFLAGS) $(%(mmake)-ACTARGET_CFLAGS))" \
        TARGET_CXX="$(strip $(%(mmake)-KERNEL_CXX) $(KERNEL_SYSROOT))" \
        TARGET_CXXFLAGS="$(strip $(%(mmake)-KERNEL_CXXFLAGS) $(%(mmake)-ACTARGET_CXXFLAGS))" \
        TARGET_AS="$(strip $(TARGET_AS))" \
        TARGET_OBJCOPY="$(strip $(OBJCOPY))" \
        TARGET_RANLIB="$(strip $(RANLIB))" \
        TARGET_STRIP="$(strip $(STRIP_PLAIN))" \
        TARGET_NM="$(strip $(NM_PLAIN))"
endif

ifeq (%(buildflags),yes)
    %(mmake)-config_opts += --target=$(AROS_TARGET_CPU)-aros
    %(mmake)-config_opts += --build=$(AROS_HOST_CPU)-$(AROS_HOST_ARCH)
    %(mmake)-config_opts += --host=$(AROS_TARGET_CPU)-aros
endif
ifeq (%(gnuflags),yes)
    %(mmake)-config_opts += --without-pic --disable-shared
ifeq (%(nlsflag),yes)
# disable native language support
    %(mmake)-config_opts += --disable-nls
endif
ifeq (%(xflag),yes)
# disable X window system
    %(mmake)-config_opts += --without-x
endif
endif
endif

ifeq (%(compiler),kernel)
    %(mmake)-cfg-env := %(config_env_extra) \
        CPP="$(KERNEL_CPP)" \
        CXXCPP="$(KERNEL_CPP)"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += CPPFLAGS="$(strip $(KERNEL_CPPFLAGS) %(extracppflags))"
endif
    %(mmake)-cfg-env += CC="$(strip $(%(mmake)-KERNEL_CC) $(KERNEL_SYSROOT))" \
        CFLAGS="$(strip $(%(mmake)-KERNEL_CFLAGS) %(extracflags))" \
        CXX="$(strip $(%(mmake)-KERNEL_CXX) $(KERNEL_SYSROOT))" \
        CXXFLAGS="$(strip $(%(mmake)-KERNEL_CXXFLAGS) %(extracxxflags))" \
        AS="$(KERNEL_AS)"
ifeq (%(usecppflags),yes)
    %(mmake)-cfg-env += CPPFLAGS_FOR_BUILD="$(HOST_CPPFLAGS)"
endif
    %(mmake)-cfg-env += CC_FOR_BUILD="$(%(mmake)-HOST_CC)" \
        CFLAGS_FOR_BUILD="$(%(mmake)-HOST_CFLAGS)" \
        CXX_FOR_BUILD="$(%(mmake)-HOST_CXX)" \
        CXXFLAGS_FOR_BUILD="$(%(mmake)-HOST_CXXFLAGS)" \
        RANLIB="$(RANLIB)" \
        TARGET_RANLIB="$(RANLIB)" \
        TARGET_STRIP="$(STRIP_PLAIN)" \
        TARGET_NM="$(NM_PLAIN)"
ifeq (%(buildflags),yes)
    %(mmake)-config_opts += --target=$(AROS_TARGET_CPU)-aros
    %(mmake)-config_opts += --build=$(AROS_HOST_CPU)-$(AROS_HOST_ARCH)
    %(mmake)-config_opts += --host=$(AROS_TARGET_CPU)-aros
endif
ifeq (%(gnuflags),yes)
    %(mmake)-config_opts += --without-pic --disable-shared
ifeq (%(nlsflag),yes)
# disable native language support
    %(mmake)-config_opts += --disable-nls
endif
ifeq (%(xflag),yes)
# disable X window system
    %(mmake)-config_opts += --without-x
endif

endif
endif

ifeq (%(use_build_env),yes)
    BUILD_ENV := $(%(mmake)-cfg-env)
endif

## **********************************************************************
## Review the following lines once breakage in contrib has been resolved.
# Files are not touched anymore by default, add this to your mmakefile if that is necessry
#<target>-touchfileflag := $(GENDIR)/$(CURDIR)/.files-touched
%(mmake)-touchfileflag ?= $(%(mmake)-pkgdir)/.files-touched
## **********************************************************************

ifneq ("$(wildcard %(srcdir)/Makefile)","")
# in an ideal world, we would depend on the files in the source directory,
# so we could copy them when they change. unfortunately filenames with
# spaces cause problems with this
$(%(mmake)-pkgdir)/.local-copy:
	%mkdirs_q $(%(mmake)-pkgdir)
	$(Q)$(ECHO) "Copying Local-Build Sources to  \`$(patsubst $(TOP)/%,%,$(abspath $(%(mmake)-pkgdir)))'"
	$(Q)$(CP) -Rf "%(srcdir)/." $(%(mmake)-pkgdir)/ && $(TOUCH) $@

$(%(mmake)-touchfileflag) : $(%(mmake)-pkgdir)/.local-copy

    %(mmake)-cfg-srcdir=$(%(mmake)-pkgdir)
else
    %(mmake)-cfg-srcdir=%(srcdir)
endif
%(mmake)-make-env += -C $(%(mmake)-pkgdir)

.PHONY : %(mmake) %(mmake)-clean %(mmake)-build_and_install-quick

# When building for the host, we don't need to build the
# linklibs - this is especially true when building the
# crosstool toolchain on 'foreign' architectures (such as
# building PPC on x86)

#MM- %(mmake)-host : setup includes %(mmake)-quick
#MM- %(mmake)-target : setup includes core-linklibs %(mmake)-quick
#MM- %(mmake): %(mmake)-%(compiler)

# Using -j1 in install_command may result in a warning but finally
# it does its job. make install for gcc does not work reliably for -jN
# where N > 1.
ifneq (%(install_target),)
    %(mmake)-install_command = \
        $(ECHO) "Installing from build in         $(subst $(TOP)/,,$(%(mmake)-pkgdir))" && \
        $(MAKE) PROGDIR="$(%(mmake)-PROGDIR)/" $(%(mmake)-install_opts) \
        $(%(mmake)-make-env) %(install_target) -j1

    %(mmake)-uninstall_command = \
    $(RM) $(%(mmake)-installflag) && \
    $(MAKE) PROGDIR="$(%(mmake)-PROGDIR)/" \
    $(%(mmake)-install_opts) $(%(mmake)-make-env) uninstall
else
    %(mmake)-install_command   := true
    %(mmake)-uninstall_command := true
endif

#MM- %(mmake)-quick : %(preconfigure) %(mmake)-configure %(postconfigure) %(mmake)-build_and_install-quick %(postinstall)

#MM
%(mmake)-build_and_install-quick :  $(%(mmake)-installflag)

#
# N.B.: the make test for the targets being up to date generates a benign Error 1.
#
$(%(mmake)-installflag) : $(%(mmake)-configflag)
	$(Q)$(IF) ! $(BUILD_ENV) $(MAKE) PROGDIR="$(call %(mmake)-volfunc, PROGDIR)" -q $(%(mmake)-make-env); then \
	    $(RM) $(%(mmake)-installflag) && \
	    $(ECHO) "Performing build in         $(subst $(TOP)/,,$(%(mmake)-pkgdir))" && \
	    $(BUILD_ENV) $(MAKE) PROGDIR="$(call %(mmake)-volfunc, PROGDIR)" $(%(mmake)-make-env) && \
	    $(%(mmake)-install_command) && \
	    $(TOUCH) $@ -r $^; \
	fi

ifeq (%(touch),yes)
$(%(mmake)-touchfileflag):
	%mkdirs_q $(%(mmake)-pkgdir)
	$(Q)find %(srcdir) -exec $(TOUCH) -c -r $(%(mmake)-cfg-srcdir)/configure '{}' \; && \
	$(TOUCH) $@
endif

#MM
%(mmake)-uninstall :
	$(%(mmake)-uninstall_command)

#MM
%(mmake)-configure : $(%(mmake)-configflag)

$(%(mmake)-configflag) : TMP_SRCDIR := $(shell $(ECHO) $(%(mmake)-cfg-srcdir) | sed 's/^\(.\):\//\/\1\//')
$(%(mmake)-configflag) : $(%(mmake)-touchfileflag) $(TOP)/$(CURDIR)/mmakefile
	$(Q)$(RM) $@
	%mkdirs_q $(%(mmake)-pkgdir)
	$(Q)$(ECHO) "Configuring build in         $(subst $(TOP)/,,$(%(mmake)-pkgdir))"
	$(%(mmake)-init-env)
	$(Q)cd $(%(mmake)-pkgdir) && \
	find . -name config.cache -exec $(RM) '{}' \; && \
	$(%(mmake)-cfg-env) $(TMP_SRCDIR)/configure $(%(mmake)-config_opts) %(extraoptions) && \
	$(TOUCH) $@

#MM
%(mmake)-clean : %(mmake)-uninstall
	$(Q)$(RM) $(%(mmake)-pkgdir)
%end
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# Joins the features of %fetch and %build_with_configure.
#
# If a patch is provided, it *must* be named the following way:
#
#    <package name>-<version number>-aros.diff
#
# Moreover, it *must* be appliable with the -p1 option of the `patch' command after
# CD'ing into the archive's extracted directory.
#
# Note that whilst the %fetch macro accepts a list of patches for any given archive,
# the %fetch_and_build macro only accepts *one* patch for each package. It's up to you
# to make that patch fully comprehensive.
#
# Arguments:
#
#    - mmake            = the meta make target.
#    - package          = the GNU package name, sans version and archive format suffixes.
#    - subpackage       = ???
#    - compiler         = same meaning as the one for the %build_with_configure macro.
#    - install_target   = same meaning as the one for the %build_with_configure macro.
#    - version          = the package's version number, or otherwise any other version string.
#                         It gets appended to the package name to form the basename of the archive.
#    - suffixes         = a list of suffixes to apped to the the package name plus the
#                         version. Each one of them is tried until a matching archive is found.
#                         Defaults to "tar.bz2 tar.gz".
#    - srcdir           = the top level directory the package is unpacked to (see create_patch).
#    - builddir         = override the location we expect to run configure/make in.
#    - package_repo     = same meaning as the one of the %fetch macro's %(archive_origins) argument
#    - patch            = "yes" or "no", depending on whether a patch for this package needs to be
#                         fetched or not. Default to no.
#    - patch_repo       = same meaning as the one of the %fetch macro's %(patches_origins) argument
#    - prefix           = same meaning as the one for the %build_with_configure macro.
#    - aros_prefix      = same meaning as the one for the %build_with_configure macro.
#    - extraoptions     = same meaning as the one for the %build_with_configure macro.
#    - usecppflags      = same meaning as the one for the %build_with_configure macro.
#    - extracppflags    = same meaning as the one for the %build_with_configure macro.
#    - usecflags      = same meaning as the one for the %build_with_configure macro.
#    - extracflags      = same meaning as the one for the %build_with_configure macro.
#    - usecxxflags      = same meaning as the one for the %build_with_configure macro.
#    - extracxxflags    = same meaning as the one for the %build_with_configure macro.
#    - preconfigure     = same meaning as the one for the %build_with_configure macro.
#    - postconfigure    = same meaning as the one for the %build_with_configure macro.
#    - postinstall      = same meaning as the one for the %build_with_configure macro.
#    - install_env      = same meaning as the one for the %build_with_configure macro.
#    - use_build_env    = same meaning as the one for the %build_with_configure macro.
#    - nix              = same meaning as the one for the %build_with_configure macro.
#    - nix_dir_layout   = same meaning as the one for the %build_with_configure macro.
#    - create_pkg       = create a distributable package of the compiled sources, defaults to no

%define fetch_and_build mmake=/A package=/A subpackage= compiler=target crossbuild=no install_target=install \
    version=/A suffixes="tar.bz2 tar.gz" srcdir= builddir= gendir= basedir="$(CURDIR)" package_repo= patch=no patch_repo= patches_specs= \
    prefix= aros_prefix= preconfigure= postconfigure= postinstall= \
    touch=yes extraoptions= \
    usecppflags=yes extracppflags= \
    usecflags=yes extracflags="$(OPTIMIZATION_CFLAGS)" \
    usecxxflags=yes extracxxflags="$(OPTIMIZATION_CFLAGS)" \
    config_env_extra= install_env= use_build_env=no nix=no nix_dir_layout= create_pkg=no \
    buildflags=yes gnuflags=yes nlsflag=yes xflag=yes \
    hostisaflags="$(HOST_ISA_CFLAGS)" kernelisaflags="$(KERNEL_ISA_CFLAGS)" targetisaflags="$(TARGET_ISA_CFLAGS)"

#MM- %(mmake)-quick : %(mmake)-%(subpackage)-quick
#MM- %(mmake)-%(subpackage)-quick : %(mmake)-%(subpackage)-fetch
#MM- %(mmake)-fetch : %(mmake)-%(subpackage)-fetch
#MM- %(mmake)-create-patch : %(mmake)-%(subpackage)-create-patch
#MM- %(mmake)-create-patch-quick : %(mmake)-%(subpackage)-create-patch
 
%(mmake)-archbase                        ?= %(package)-%(version)

ifeq (%(compiler),host)
    %(mmake)-portdir                     ?= $(HOSTDIR)/Ports/host/%(package)
else
    %(mmake)-portdir                     ?= $(PORTSDIR)/%(package)
endif

ifeq (%(prefix),)
    %(mmake)-prefix                      ?= $(CONTRIB_DIR)/%(package)
else
    %(mmake)-prefix                      ?= %(prefix)
endif

ifneq (%(subpackage),)
    %(mmake)-%(subpackage)-archbase      ?= %(package)-%(subpackage)-%(version)
else
    %(mmake)-%(subpackage)-archbase      ?= %(package)-%(version)
endif

ifneq (%(srcdir),)
    %(mmake)-%(subpackage)-srcdir        ?= %(srcdir)
else
    %(mmake)-%(subpackage)-srcdir        ?= $(%(mmake)-archbase)
endif

ifneq (%(builddir),)
    %(mmake)-%(subpackage)-builddir      ?= $(%(mmake)-%(subpackage)-srcdir)/%(builddir)
else
    %(mmake)-%(subpackage)-builddir      ?= $(%(mmake)-%(subpackage)-srcdir)
endif

ifeq (%(patches_specs),)
ifeq (%(patch),yes)
    %(mmake)-%(subpackage)-patches_specs ?= $(%(mmake)-%(subpackage)-archbase)-aros.diff:$(%(mmake)-%(subpackage)-srcdir):-f,-p1
else
    %(mmake)-%(subpackage)-patches_specs ?= ::
endif
else
    %(mmake)-%(subpackage)-patches_specs ?= %(patches_specs)
endif

%fetch mmake="%(mmake)-%(subpackage)-fetch" archive="$(%(mmake)-%(subpackage)-archbase)" suffixes="%(suffixes)" \
    location="$(PORTSSOURCEDIR)" destination="$(%(mmake)-portdir)" \
    archive_origins=". %(package_repo)" \
    patches_specs="$(%(mmake)-%(subpackage)-patches_specs)" patches_origins="$(SRCDIR)/$(CURDIR) %(patch_repo)"

%create_patch mmake="%(mmake)-%(subpackage)-create-patch" \
    archive="$(%(mmake)-%(subpackage)-archbase)" \
    srcdir="$(%(mmake)-%(subpackage)-srcdir)" \
    suffixes="%(suffixes)" \
    destination="$(%(mmake)-portdir)"

#MM %(mmake) : %(mmake)-%(subpackage)
#MM
%(mmake):
	$(Q)$(NOP)

%(mmake)-%(subpackage)-package-dir := $(%(mmake)-portdir)/$(%(mmake)-%(subpackage)-archbase)

%(mmake)-%(subpackage)-package-basename := \
    $(DISTDIR)/Packages/$(%(mmake)-%(subpackage)-archbase)-aros.$(AROS_TARGET_CPU)

ifneq (%(create_pkg),no)
    %(mmake)-%(subpackage)-package := $(%(mmake)-%(subpackage)-package-basename).tar.bz2
endif

%build_with_configure mmake="%(mmake)-%(subpackage)" package="%(package)" compiler="%(compiler)"  crossbuild="%(crossbuild)" install_target="%(install_target)" \
     srcdir="$(%(mmake)-portdir)/$(%(mmake)-%(subpackage)-builddir)" gendir="%(gendir)" basedir="%(basedir)" \
     config_env_extra="%(config_env_extra)" install_env="%(install_env)" use_build_env="%(use_build_env)" \
     nix="%(nix)" nix_dir_layout="%(nix_dir_layout)" prefix="$(%(mmake)-prefix)" aros_prefix="%(aros_prefix)" \
     preconfigure="%(preconfigure)" postconfigure="%(postconfigure)" postinstall="%(postinstall) %(mmake)-%(subpackage)-make-package" \
     touch="%(touch)" extraoptions="%(extraoptions)" \
     usecppflags="%(usecppflags)" extracppflags="%(extracppflags)" \
     usecflags="%(usecflags)" extracflags="%(extracflags)" \
     usecxxflags="%(usecxxflags)" extracxxflags="%(extracxxflags)" \
     buildflags=%(buildflags) gnuflags=%(gnuflags) nlsflag=%(nlsflag) xflag=%(xflag) \
     hostisaflags=%(hostisaflags) kernelisaflags="%(kernelisaflags)" targetisaflags=%(targetisaflags)

.PHONY : %(mmake)-%(subpackage)-make-package %(mmake)-%(subpackage)-create-patch
#MM %(mmake)-%(subpackage)-make-package : %(mmake)-%(subpackage)-quick

#MM
%(mmake)-%(subpackage)-make-package : $(%(mmake)-%(subpackage)-package)
 
#There seems to be a bug, either with my clock or with make, 'cause it may happen
#that $^ and $@ have exactly the same mtime, and in that case make tries
#to rebuild $@ again, which would fail because the directory where
#the package got installed would not exist anymore. 
#We work this around by using an if statement to manually check the mtimes.
$(%(mmake)-%(subpackage)-package-basename).tar.bz2 :
	$(Q)$(IF) $(TEST) $(%(mmake)-installflag) -nt $@ || ! $(TEST) -s $@; then \
	    $(RM) $@ ; \
	    $(ECHO) "Building   \`$(%(mmake)-%(subpackage)-package-basename).tar.bz2'" ; \
	    $(MKDIR) -p "$(DISTDIR)/Packages" ; \
	    $(MKDIR) -p "$(%(mmake)-prefix)" ; \
	    cd $(%(mmake)-%(subpackage)-package-dir) ; \
	    tar -cvf $(%(mmake)-%(subpackage)-package-basename).tar * ; \
	    bzip2 -9 -f $(%(mmake)-%(subpackage)-package-basename).tar ; \
	fi
%end
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# Joins the features of %fetch and %build_with_configure, taking advantage of
# the naming scheme of GNU packages. GNU packages names are in the form
#
#     <package name>-<version number>.<archive format suffix>
#
# If a patch is provided, it *must* be named the following way:
#
#    <package name>-<version number>-aros.diff
#
# Moreover, it *must* be appliable with the -p1 option of the `patch' command after
# CD'ing into the archive's extracted directory.
#
# Note that whilst the %fetch macro accepts a list of patches for any given archive,
# the %fetch_and_build macro only accepts *one* patch for each package. It's up to you
# to make that patch fully comprehensive.
#
# NOTE: GNU packages are always compiled with *nix semantics turned on.
#
# Arguments:
#
#    Arguments have the same meaning as the one for the %fetch_and_build macro, except:
#
#    - prefix           = defaults to $(GNUDIR).
#    - aros_prefix      = defaults to /GNU.

%define fetch_and_build_gnu mmake=/A package=/A subpackage= version=/A crossbuild=no suffixes="tar.bz2 tar.gz" \
    srcdir= package_repo= patch=no patch_repo= prefix="$(GNUDIR)" \
    aros_prefix=/GNU config_env_extra= preconfigure= postconfigure= postinstall= \
    touch=yes extraoptions= \
    usecppflags=yes extracppflags= \
    usecflags=yes extracflags="$(OPTIMIZATION_CFLAGS)" \
    usecxxflags=yes extracxxflags="$(OPTIMIZATION_CFLAGS)" \
    hostisaflags="$(HOST_ISA_CFLAGS)" \
    kernelisaflags="$(KERNEL_ISA_CFLAGS)" \
    targetisaflags="$(TARGET_ISA_CFLAGS)" \
    use_build_env=no nix=yes buildflags=yes gnuflags=yes nlsflag=yes xflag=yes

GNU_REPOSITORY := gnu://

%fetch_and_build mmake="%(mmake)" package="%(package)" subpackage="%(subpackage)" version="%(version)" \
    crossbuild="%(crossbuild)" suffixes="%(suffixes)" srcdir="%(srcdir)" \
    package_repo="%(package_repo) $(GNU_REPOSITORY)%(package)" \
    patch="%(patch)" patch_repo="%(patch_repo)" \
    prefix="%(prefix)" aros_prefix="%(aros_prefix)" \
    touch=%(touch) extraoptions="%(extraoptions)" \
    usecppflags="%(usecppflags)" extracppflags="%(extracppflags)" \
    usecflags="%(usecflags)" extracflags="%(extracflags)" \
    usecxxflags="%(usecxxflags)" extracxxflags="%(extracxxflags)" \
    config_env_extra="%(config_env_extra)" preconfigure="%(preconfigure)" postconfigure="%(postconfigure)" postinstall="%(postinstall)" \
    hostisaflags="%(hostisaflags)" kernelisaflags="%(kernelisaflags)" targetisaflags="%(targetisaflags)" \
    use_build_env=%(use_build_env) nix=%(nix) buildflags=%(buildflags) gnuflags=%(gnuflags) nlsflag=%(nlsflag) xflag=%(xflag)

%end
#------------------------------------------------------------------------------


#------------------------------------------------------------------------------
# Same job as the one of %fetch_and_build_gnu, except that this one assumes
# that the package is a "Developer" package, and as such it needs to be placed
# under the $(AROS_DEVELOPER) directory, as a default. 
#
# All the arguments have the same meaning as the ones of the %fetch_and_build_gnu 
# macro, but notice that %fetch_and_build_gnu_development *doesn't* have a
# "mmake" argument, because the metatarget is implicitely defined as
#
#     #MM- development-%(package)

%define fetch_and_build_gnu_development package=/A subpackage= version=/A  crossbuild=no suffixes="tar.bz2 tar.gz" \
    srcdir= package_repo= patch=no patch_repo= prefix="$(AROS_DEVELOPER)" \
    aros_prefix=/Developer config_env_extra= preconfigure= postconfigure= postinstall= \
    touch=yes extraoptions= \
    usecppflags=yes extracppflags= \
    usecflags=yes extracflags="$(OPTIMIZATION_CFLAGS)" \
    usecxxflags=yes extracxxflags="$(OPTIMIZATION_CFLAGS)" \
    hostisaflags="$(HOST_ISA_CFLAGS)" \
    kernelisaflags="$(KERNEL_ISA_CFLAGS)" \
    targetisaflags="$(TARGET_ISA_CFLAGS)" \
    use_build_env=no nix=yes buildflags=yes gnuflags=yes nlsflag=yes xflag=yes

#MM- development : development-%(package)


%fetch_and_build_gnu mmake="development-%(package)" package="%(package)" subpackage="%(subpackage)" \
   version="%(version)" crossbuild="%(crossbuild)" suffixes="%(suffixes)" srcdir="%(srcdir)" \
   package_repo="%(package_repo)" \
   patch="%(patch)" patch_repo="%(patch_repo)" \
   prefix="%(prefix)"  aros_prefix="%(aros_prefix)" \
   touch="%(touch)" extraoptions="%(extraoptions)" \
   usecppflags="%(usecppflags)" extracppflags="%(extracppflags)" \
   usecflags="%(usecflags)" extracflags="%(extracflags)" \
   usecxxflags="%(usecxxflags)" extracxxflags="%(extracxxflags)" \
   config_env_extra="%(config_env_extra)" preconfigure="%(preconfigure)" postconfigure="%(postconfigure)" postinstall="postinstall-%(package)-delete-la-files %(postinstall)" \
   hostisaflags="%(hostisaflags)" kernelisaflags="%(kernelisaflags)" targetisaflags="%(targetisaflags)" \
   use_build_env=%(use_build_env) nix=%(nix) buildflags=%(buildflags) gnuflags=%(gnuflags) nlsflag=%(nlsflag) xflag=%(xflag)

#MM
postinstall-%(package)-delete-la-files:
	$(RM) %(prefix)/lib/*.la

%end
#------------------------------------------------------------------------------
