# Copyright © 1995-2004, The AROS Development Team. All rights reserved.
# $Id$
#
# Static makefile rule file for AROS.

-include $(TOP)/bin/$(AROS_TARGET_ARCH)-$(AROS_TARGET_CPU)/gen/config/make.defaults
-include $(TOP)/bin/$(AROS_TARGET_ARCH)-$(AROS_TARGET_CPU)/gen/config/make.opts

# target.cfg *must* come before host.cfg
include $(TOP)/bin/$(AROS_TARGET_ARCH)-$(AROS_TARGET_CPU)/gen/config/target.cfg
include $(TOP)/bin/$(AROS_HOST_ARCH)-$(AROS_HOST_CPU)/gen/config/host.cfg

# These are the paths to various directories.
# All files corresponding to a specific target go here.
HOSTDIR     :=  $(TOP)/bin/$(AROS_HOST_ARCH)-$(AROS_HOST_CPU)
TARGETDIR   :=	$(TOP)/bin/$(AROS_TARGET_ARCH)-$(AROS_TARGET_CPU)

# This is the directory structure for an AROS system.
AROSDIR	    := $(TARGETDIR)/AROS

# These are the subdirectories under that path.
AROS_C		:= $(AROSDIR)/C
AROS_CLASSES	:= $(AROSDIR)/Classes
AROS_DATATYPES  := $(AROS_CLASSES)/DataTypes
AROS_GADGETS	:= $(AROS_CLASSES)/Gadgets
AROS_DEVS	:= $(AROSDIR)/Devs
AROS_FS		:= $(AROSDIR)/Devs
AROS_HIDDS	:= $(AROSDIR)/Hidds
AROS_LIBS	:= $(AROSDIR)/Libs
AROS_LOCALE	:= $(AROSDIR)/Locale
AROS_CATALOGS   := $(AROS_LOCALE)/Catalogs
AROS_HELP       := $(AROS_LOCALE)/Help
AROS_PREFS      := $(AROSDIR)/Prefs
AROS_S		:= $(AROSDIR)/S
AROS_SYSTEM     := $(AROSDIR)/System
AROS_WANDERER   := $(AROS_SYSTEM)/Wanderer
AROS_THEMES     := $(AROS_SYSTEM)/Themes
AROS_IMAGES     := $(AROS_SYSTEM)/Images
AROS_TOOLS      := $(AROSDIR)/Tools
AROS_INCLUDES	:= $(AROSDIR)/Include

AROS_LIB	:= $(AROSDIR)/lib
AROS_MODULES	:= $(AROSDIR)/os

INCDIR		:= $(AROS_INCLUDES)
TESTDIR		:= $(AROSDIR)/test
SCRIPTDIR	:= $(AROSDIR)/scripts
CONTRIBDIR	:= $(AROSDIR)/contrib

# The generated files all go under the GENDIR path
GENDIR		:= $(TARGETDIR)/gen

# The paths to the generated tools
TOOLDIR		:= $(HOSTDIR)/tools
TOOLLIB		:= $(TOOLDIR)/libtool.a
MMAKE		:= $(TOOLDIR)/mmake$(HOST_EXE_SUFFIX)
CALL		:= env AROS_HOST_ARCH=$(AROS_HOST_ARCH) AROS_HOST_CPU=$(AROS_HOST_CPU) AROS_TARGET_ARCH=$(AROS_TARGET_ARCH) AROS_TARGET_CPU=$(AROS_TARGET_CPU)
ARCHTOOL	:= $(TOOLDIR)/archtool$(HOST_EXE_SUFFIX)
GENMF		:= $(TOOLDIR)/genmf.py
FLEXCAT		:= $(TOOLDIR)/FlexCat$(HOST_EXE_SUFFIX)
FD2INLINE       := $(TOOLDIR)/fd2inline$(HOST_EXE_SUFFIX)
FD2PRAGMA       := $(TOOLDIR)/fd2pragma$(HOST_EXE_SUFFIX)
SFDC       	:= $(TOOLDIR)/sfdc$(HOST_EXE_SUFFIX)
MODTOOL		:= $(TOOLDIR)/modtool$(HOST_EXE_SUFFIX)
CREATEDTDESC	:= $(TOOLDIR)/createdtdesc$(HOST_EXE_SUFFIX)
ADFLIB		:= $(TOOLDIR)/libadf.a
ADFINC		:= $(TOP)/tools/adflib
CREATEHDFILE	:= $(TOOLDIR)/createhdfile$(HOST_EXE_SUFFIX)
AFSLIB		:= $(TOOLDIR)/libafs.a
COPYTOAFS	:= $(TOOLDIR)/copytoafs$(HOST_EXE_SUFFIX)
MKFSAFFS	:= $(TOOLDIR)/mkfsaffs$(HOST_EXE_SUFFIX)
ILBMTOC		:= $(TOOLDIR)/ilbmtoc$(HOST_EXE_SUFFIX)
ILBMTOICON	:= $(TOOLDIR)/ilbmtoicon$(HOST_EXE_SUFFIX)
GENSKELETON	:= $(TOP)/tools/genskeleton/genskeleton$(HOST_EXE_SUFFIX)
GENSETS         := $(TOOLDIR)/gensets$(HOST_EXE_SUFFIX)
COLLECT-AROS    := $(TOOLDIR)/collect-aros$(HOST_EXE_SUFFIX)
GENMODULE       := $(TOOLDIR)/genmodule$(HOST_EXE_SUFFIX)
GENMODULEDUMMY  := $(TOOLDIR)/genmoduledummy$(HOST_EXE_SUFFIX)
GENLIBDEFS      := $(TOOLDIR)/genlibdefs$(HOST_EXE_SUFFIX)
CXREF           := $(TOOLDIR)/cxref$(HOST_EXE_SUFFIX)
MKDEPEND        := $(TOP)/scripts/mkdep
SPECS           := $(TARGETDIR)/gen/config/specs

TARGET_LDFLAGS  := $(TARGET_LDFLAGS) -specs=$(SPECS)

AROS_CC         := $(TOOLDIR)/$(AROS_TARGET_CPU)-$(AROS_TARGET_ARCH)-aros-gcc


# At the moment we have two copies of the includes...
# This is the AROS includes, minus clib/mlib.
GENINCDIR	:= $(GENDIR)/include

# Include paths - these are really tricky. Note that $(INCLUDES) will not
# be expanded until right when it is used. That way modules can change the
# $(OS_INCLUDES) and $(USER_INCLUDES) whenever they like.
INCLUDES    =	$(USER_INCLUDES) $(OS_INCLUDES)
OS_INCLUDES :=	-I$(AROSDIR)/Include

# Basic make configuration. No need to edit anything else under here.

.SUFFIXES :
.SUFFIXES : .c .h .d .s .S

.PHONY : all clean setup subdirs

# Was debugging enabled? Better set up the options.
ifeq ($(DEBUG),yes)
HOST_CFLAGS += $(DEBUG_CFLAGS)
HOST_LDFLAGS += $(DEBUG_LDFLAGS)
TARGET_CFLAGS += $(DEBUG_CFLAGS)
TARGET_LDFLAGS += $(DEBUG_LDFLAGS)
SYSTEM_CFLAGS += $(DEBUG_CFLAGS)
SYSTEM_AFLAGS += $(DEBUG_CFLAGS)
SYSTEM_LDFLAGS += $(DEBUG_LDFLAGS)
MECHO	:= $(ECHO)
else
MECHO	:= $(NOP)
endif

# C and assembly flags are set depending upon the directory
# XXX Urk! This has to be fixed, there should be 4 parts to this if that.
CFLAGS      = $(TARGET_CFLAGS) $(USER_CFLAGS) $(SPECIAL_CFLAGS) $(OS_CFLAGS) $(INCLUDES) $(LIB_CFLAGS) -D__AROS__
LDFLAGS     = $(TARGET_LDFLAGS) $(USER_LDFLAGS) $(SPECIAL_LDFLAGS)

# Compatibility with old variables

AFLAGS	    = $(SYSTEM_AFLAGS) $(SPECIAL_AFLAGS) $(TARGET_AFLAGS)

OBJDIR      	:=	$(GENDIR)/$(CURDIR)
BINDIR	    	:=	$(AROSDIR)
EXEDIR	    	:=	$(AROSDIR)/C
LIBDIR	    	:=	$(AROSDIR)/lib
OSGENDIR    	:=	$(GENDIR)/rom
KOBJSDIR        :=      $(GENDIR)/kobjs
