-no-preprocessor
-cc=vbcca68k -quiet
-ccv=vbcca68k
-pp=vcpp -Ivinclude: -D__STDC__=1 %s %s %s
-ppv=vcpp -Ivinclude: -D__STDC__=1 %s %s %s
-as=PhxAss quiet opt NRQBTLPSM %s to %s
-asv=PhxAss opt NRQBTLPSM %s to %s
-rm=delete quiet %s
-rmv=delete %s
-ld=PhxLnk vlib:startup.o %s %s vlib:vc.lib vlib:amiga.lib to %s
-l2=PhxLnk %s %s to %s
-ldv=PhxLnk vlib:startup.o %s %s vlib:vc.lib vlib:amiga.lib to %s
-l2v=PhxLnk %s %s to %s
