-no-preprocessor
-cc=bin-gcc/vbccsi386 -quiet -elf
-ccv=bin-gcc/vbccsi386 -elf
-pp=bin/vcpp %s -Imachines/i386/include -I/usr/lib/gcc-lib/i486-linux/2.7.2.1/include -I/usr/include -D__STDC__=1 %s %s
-ppv=bin/vcpp %s -Imachines/i386/include -I/usr/lib/gcc-lib/i486-linux/2.7.2.1/include -I/usr/include -D__STDC__=1 %s %s
-as=as %s -o %s
-asv=as %s -o %s
-rm=rm %s
-rmv=rm %s
-ld=ld -dp -m elf_i386 -dynamic-linker /lib/ld-linux.so.1 /usr/lib/crt1.o /usr/lib/crti.o /usr/lib/crtbegin.o -L/usr/lib/gcc-lib/i486-linux/2.7.2.1 -L/usr/i486-linux/lib %s %s -lgcc -lc -lgcc /usr/lib/crtend.o /usr/lib/crtn.o -o %s
-l2=ld %s %s -o %s
-ldv=ld -dp -m elf_i386 -dynamic-linker /lib/ld-linux.so.1 /usr/lib/crt1.o /usr/lib/crti.o /usr/lib/crtbegin.o -L/usr/lib/gcc-lib/i486-linux/2.7.2.1 -L/usr/i486-linux/lib %s %s -lgcc -lc -lgcc /usr/lib/crtend.o /usr/lib/crtn.o -o %s
-l2v=ld %s %s -o %s

