##begin proto
#ifndef LocaleBase
extern struct LocaleBase * LocaleBase;
#endif
##end proto

##begin clib
#ifndef LIBRARIES_LOCALE_H
#   include <libraries/locale.h>
#endif

struct Catalog *OpenCatalog
(
    struct Locale  *locale,
    STRPTR          name,
    ULONG           tag1,
    ...
);
##end clib
