##begin clib
#ifndef INTUITION_CLASSES_H
#   include <intuition/classes.h>
#endif

/* Prototypes for functions in amiga.lib */
#ifndef CLIB_INTUITION_PROTOS_H /* Prevent name clashes */
ULONG SetAttrs (APTR obj, ULONG tag1, ...);
ULONG SetSuperAttrs (Class * cl, Object * obj, ULONG tag1, ...);
APTR NewObject (Class * classPtr, UBYTE * classID, ULONG tag1, ...);
IPTR DoMethodA (Object * obj, Msg message);
IPTR DoMethod (Object * obj, ULONG MethodID, ...);
IPTR DoSuperMethodA (Class  * cl, Object * obj, Msg message);
IPTR DoSuperMethod (Class * cl, Object * obj, ULONG MethodID, ...);
IPTR CoerceMethodA (Class * cl, Object * obj, Msg msg);
IPTR CoerceMethod (Class * cl, Object * obj, ULONG MethodID, ...);
#endif
##end clib
##begin defines
#undef AddClass
#undef DisposeObject
#undef FreeClass
#undef GetAttr
#undef MakeClass
#undef NewObjectA
#undef NextObject
#undef RemoveClass
#undef SetAttrsA
##end defines
