<REM>
    (C) 1995-97 AROS - The Amiga Replacement OS
    $Id$
</REM>

<DOC title="AROS - $libname/$funcname">

<P><CENTER>(C) 1996 AROS - The Amiga Replacement OS</CENTER>
<P><HR></P>

<DL>
<DT>NAME<DD>
$funcname - $desc<P>

<ecode type=c>
$includes
$returntype ${funcname} ()
</ecode>

<P>
<DT>SYNOPSIS<DD>
<eppcode type=c>
$synopsis
</eppcode>

<P>
<DT>LOCATION<DD>
In <library name="$libname"> at offset $offset.

<P>
<DT>FUNCTION<DD>
<EXPAND text="$function">

<P>
<DT>INPUTS<DD>
<DL COMPACT>
<EXPAND text="$inputs">
</DL>

<P>
<DT>RESULT<DD>
<IF COND="$defined(results)">$results<ELSE>None.</IF>

<P>
<DT>NOTES<DD>
<IF COND="$defined(notes)">$notes</IF>

<P>
<DT>EXAMPLE<DD>
<ecode type=c>
$example
</ecode>

<P>
<DT>SEE ALSO<DD>
$seealso

<P>
<DT>INTERNALS<DD>
<IF COND="$defined(internals)">$internals</IF>

<P>
<DT>SOURCE<DD>
<ecode type=c>
$source
</ecode>

</DL>
</DOC>

