-no-preprocessor
-cc=vbcci386 -quiet
-ccv=vbcci386
-pp=vcpp -I/usr/include -D__STDC__=1 %s %s %s
-ppv=vcpp -I/usr/include -D__STDC__=1 %s %s %s
-as=as %s -o %s
-asv=as %s -o %s
-rm=rm %s
-rmv=rm %s
-ld=ld /usr/lib/crt0.o %s %s -lc -o %s
-l2=ld %s %s -o %s
-ldv=ld /usr/lib/crt0.o %s %s -lc -o %s
-l2v=ld %s %s -o %s

