# On EFI we must always have graphics drivers.
# Otherwise GRUB can't set up display mode for the kickstart.
insmod efi_gop
insmod efi_uga

if loadfont /boot/grub/unicode.pf2 ; then
	insmod /boot/grub/gfxterm.mod
	set gfxmode=640x480
	terminal_output gfxterm
	insmod /boot/grub/png.mod
	background_image /boot/grub/splash.png
fi

# Timeout for menu
set timeout=5

# Set default boot entry as framebuffer Gfx
set default=1

menuentry "AROS64 with native Gfx" {
    multiboot /boot/bootstrap-pc-x86_64 ATA=32bit forceusbpower
    module /boot/aros-bsp-pc-x86_64
    module /boot/aros-strap-native.pkg
    module /boot/aros-base.pkg
    module /boot/poseidon.pkg
}

menuentry "AROS64 with framebuffer Gfx" {
    multiboot /boot/bootstrap-pc-x86_64 ATA=32bit nomonitors forceusbpower
    module /boot/aros-bsp-pc-x86_64
    module /boot/aros-strap-native.pkg
    module /boot/aros-base.pkg
    module /boot/poseidon.pkg
}

menuentry "AROS64 with framebuffer Gfx (slow ATA)" {
    multiboot /boot/bootstrap-pc-x86_64 ATA=nodma nomonitors forceusbpower
    module /boot/aros-bsp-pc-x86_64
    module /boot/aros-strap-native.pkg
    module /boot/aros-base.pkg
    module /boot/poseidon.pkg
}
