##begin clib
#ifndef  GRAPHICS_GFX_H
#   include <graphics/gfx.h>
#endif
#ifndef  GRAPHICS_DISPLAYINFO_H
#   include <graphics/displayinfo.h>
#endif
#ifndef  GRAPHICS_GELS_H
#   include <graphics/gels.h>
#endif
#ifndef  GRAPHICS_RASTPORT_H
#   include <graphics/rastport.h>
#endif
#ifndef  GRAPHICS_VIEW_H
#   include <graphics/view.h>
#endif
#ifndef  GRAPHICS_COPPER_H
#   include <graphics/copper.h>
#endif
#ifndef  GRAPHICS_CLIP_H
#   include <graphics/clip.h>
#endif
#ifndef  GRAPHICS_REGIONS_H
#   include <graphics/regions.h>
#endif
#ifndef  GRAPHICS_SPRITE_H
#   include <graphics/sprite.h>
#endif
#ifndef  GRAPHICS_TEXT_H
#   include <graphics/text.h>
#endif
#ifndef HARDWARE_BLIT_H
#   include <hardware/blit.h>
#endif

##end clib
##begin proto
#ifndef GfxBase
extern struct GfxBase * GfxBase;
#endif

#include <utility/tagitem.h>

ULONG BestModeID(Tag, ...);

##end proto
