# Timeout for menu
set timeout=5

# Set default boot entry as VESA Gfx @ 1024x768-32bpp
set default=3

if loadfont /boot/grub/unicode.pf2 ; then
	insmod vbe
	insmod gfxterm
	set gfxmode=640x480
	terminal_output gfxterm
	insmod png
	background_image /boot/grub/splash.png
fi

menuentry "AROS (NVidia graphics)" {
    multiboot /boot/aros-pc-i386.gz gfx=hidd.gfx.nv lib=DRIVERS:nvidia.hidd ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (ATI graphics)" {
    multiboot /boot/aros-pc-i386.gz gfx=RadeonDriver lib=DRIVERS:radeon.hidd ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (VMWareSVGA graphics)" {
    multiboot /boot/aros-pc-i386.gz gfx=hidd.gfx.vmwaresvga lib=vmwaresvga.hidd ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (true colour VESA graphics)" {
    multiboot /boot/aros-pc-i386.gz vesa=32bit ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (high colour VESA graphics)" {
    multiboot /boot/aros-pc-i386.gz vesa=16bit ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (true colour VESA graphics, floppy drive)" {
    multiboot /boot/aros-pc-i386.gz vesa=32bit ATA=32bit enableusb
}

menuentry "AROS (true colour VESA graphics: 1024x768)" {
    multiboot /boot/aros-pc-i386.gz vesa=1024x768 ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (true colour VESA graphics: 1280x1024)" {
    multiboot /boot/aros-pc-i386.gz vesa=1280x1024 ATA=32bit floppy=disabled enableusb
}

menuentry "AROS (safe mode)" {
    multiboot /boot/aros-pc-i386.gz ATA=nodma debug=memory floppy=disabled
}
