# Timeout for menu
set timeout=5

# Set default boot entry as VESA Gfx @ 1024x768-32bpp
set default=3

if font /boot/grub/unifont.pff ; then
	insmod /boot/grub/vbe.mod
	insmod /boot/grub/gfxterm.mod
	set gfxmode=640x480
	terminal_output gfxterm
	insmod /boot/grub/png.mod
	background_image /boot/grub/splash.png
fi

menuentry "AROS (NVidia graphics)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz gfx=hidd.gfx.nv lib=DRIVERS:nvidia.hidd ATA=32bit floppy=disabled
}

menuentry "AROS (ATI graphics)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz gfx=RadeonDriver lib=DRIVERS:radeon.hidd ATA=32bit floppy=disabled
}

menuentry "AROS (VMWareSVGA graphics)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz gfx=hidd.gfx.vmwaresvga lib=vmwaresvga.hidd ATA=32bit floppy=disabled
}

menuentry "AROS (true colour VESA graphics)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz vesa=32bit ATA=32bit floppy=disabled
}

menuentry "AROS (high colour VESA graphics)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz vesa=16bit ATA=32bit floppy=disabled
}

menuentry "AROS (true colour VESA graphics, floppy drive)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz vesa=32bit ATA=32bit
}

menuentry "AROS (true colour VESA graphics: 1024x768)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz vesa=1024x768 ATA=32bit floppy=disabled
}

menuentry "AROS (true colour VESA graphics: 1280x1024)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz vesa=1280x1024 ATA=32bit floppy=disabled
}

menuentry "AROS (safe mode)" {
    serial --speed=9600
    multiboot /boot/aros-pc-i386.gz ATA=nodma floppy=disabled
}
