# On EFI we must always have graphics drivers.
# Otherwise GRUB can't set up display mode for the kickstart.
insmod efi_gop
insmod efi_uga

if loadfont /EFI/BOOT/grub/unicode.pf2 ; then
	insmod gfxterm
	set gfxmode=640x480
	terminal_output gfxterm
	insmod png
	background_image /EFI/BOOT/grub/splash.png
fi

# Timeout for menu
set timeout=5

# Set default boot entry as framebuffer Gfx
set default=1

menuentry "AROS (native graphics)" {
    multiboot2 @module.bootstrap@ ATA=32bit forceusbpower
@modules.default@
}

menuentry "AROS (framebuffer graphics)" {
    multiboot2 @module.bootstrap@ ATA=32bit nomonitors forceusbpower
@modules.default@
}

menuentry "AROS (framebuffer graphics, slow ATA)" {
    multiboot2 @module.bootstrap@ ATA=nodma nomonitors forceusbpower
@modules.default@
}
