# Timeout for menu
set timeout 5

# Set default boot entry as Entry 0
set default 0

menuentry "AROS VBE  640x480  8bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=640x480x8 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE  800x600  8bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=800x600x8 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE 1024x768  8bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=1024x768x8 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE 1280x1024 8bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=1280x1024x8 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE  640x480  16bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=640x480x16 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE  800x600  16bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=800x600x16 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE 1024x768  16bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=1024x768x16 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE 1280x1024 16bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=1280x1024x16 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE  640x480  32bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=640x480x32 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE  800x600  32bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=800x600x32 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE 1024x768  32bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=1024x768x32 ATA=32bit,forcedma nofdc
}

menuentry "AROS VBE 1280x1024 32bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz vesa=1280x1024x32 ATA=32bit,forcedma nofdc
}

menuentry "AROS VGA  640x480   4bpp" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz ATA=32bit,forcedma nofdc
}

menuentry "AROS VGA  640x480   4bpp slow ATA" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz nofdc
}

menuentry "AROS NVIDIA" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz gfx=hidd.gfx.nv lib=DRIVERS:nvidia.hidd ATA=32bit,forcedma nofdc
}

menuentry "AROS ATI" {
    set root=(cd0)
    serial=9600
    multiboot /boot/aros-pc-i386.gz gfx=RadeonDriver lib=DRIVERS:radeon.hidd ATA=32bit,forcedma nofdc
}

#menuentry "AROS VMWare" {
#    set root=(cd0)
#    serial=9600
#    multiboot /boot/aros-pc-i386.gz gfx=hidd.gfx.vmware lib=vmwaregfx.hidd ATA=32bit,forcedma nofdc
#}