##begin clib
#ifndef EXEC_TYPES_H
#   include <exec/types.h>
#endif

/* Prototypes for stubs in amiga.lib */
struct NamedObject *AllocNamedObject(STRPTR name, ULONG tag1, ...);

##end clib
##begin proto

#ifndef UtilityBase
  extern struct UtilityBase * UtilityBase;
#endif

#ifndef  EXEC_PORTS_H
#include <exec/ports.h>
#endif
#ifndef  UTILITY_TAGITEM_H
#include <utility/tagitem.h>
#endif
#ifndef  UTILITY_DATE_H
#include <utility/date.h>
#endif
#ifndef  UTILITY_HOOKS_H
#include <utility/hooks.h>
#endif
#ifndef  UTILITY_NAME_H
#include <utility/name.h>
#endif

##end proto
