##begin clib
#ifndef EXEC_TYPES_H
#   include <exec/types.h>
#endif

/* Prototypes for stubs in amiga.lib */
struct NamedObject *AllocNamedObject(STRPTR name, ULONG tag1, ...);

##end clib
##begin proto
#ifndef UtilityBase
  extern struct UtilityBase * UtilityBase;
#endif

##end proto
